
<p>Choose your Tool of Murder</p>

<div class="weaponWrap" *ngFor="let weapon of _weaponry.oneHandedWeapon">
  <label class="container">
    {{ weapon.name }}
    {{ weapon.damage }}
    <input type="radio" name="weapon" (click)="chooseWeapon(currentPlayer, weapon.id, true)">
    <span class="checkmark"></span>
  </label>
</div>

<div class="weaponWrap" *ngFor="let weapon of _weaponry.twoHandedWeapon">
  <label class="container">
    {{ weapon.name }}
    {{ weapon.damage }}
    <input type="radio" name="weapon" (click)="chooseWeapon(currentPlayer, weapon.id, false)">
    <span class="checkmark"></span>
  </label>
</div>

<p>Choose your Armor</p>

<div class="armorWrap" *ngFor="let armor of _armory.head">
  <label class="container">
    {{ armor.name }}
    {{ armor.protec }}
    {{ armor.id }}
    <input type="radio" name="armor" (click)="chooseArmor(currentPlayer, armor.id, armor.protec)">
    <span class="checkmark"></span>
  </label>
</div>

<div class="armorWrap" *ngFor="let armor of _armory.torso">
  <label class="container">
    {{ armor.name }}
    {{ armor.protec }}
    {{ armor.id }}
    <input type="radio" name="armor" (click)="chooseArmor(currentPlayer, armor.id, armor.protec)">
    <span class="checkmark"></span>
  </label>
</div>

<div class="armorWrap" *ngFor="let armor of _armory.arms">
  <label class="container">
    {{ armor.name }}
    {{ armor.protec }}
    {{ armor.id }}
    <input type="radio" name="armor" (click)="chooseArmor(currentPlayer, armor.id, armor.protec)">
    <span class="checkmark"></span>
  </label>
</div>

<div class="armorWrap" *ngFor="let armor of _armory.legs">
  <label class="container">
    {{ armor.name }}
    {{ armor.protec }}
    {{ armor.id }}
    <input type="radio" name="armor" (click)="chooseArmor(currentPlayer, armor.id, armor.protec)">
    <span class="checkmark"></span>
  </label>
</div>

<p>Choose your ATTACK</p>

<div class="attackWrap">
  <label class="container">
    <input type="radio" name="attack" (click)="chooseAttack(currentPlayer, 'head')">
    <input type="radio" name="attack" (click)="chooseAttack(currentPlayer, 'torso')">
    <input type="radio" name="attack" (click)="chooseAttack(currentPlayer, 'arms')">
    <input type="radio" name="attack" (click)="chooseAttack(currentPlayer, 'legs')">
  </label>
</div>

<p>Choose your DEFENCE</p>

<div class="defencekWrap">
  <label class="container">
    <input type="radio" name="defence" (click)="chooseDefence(currentPlayer, 'head')">
    <input type="radio" name="defence" (click)="chooseDefence(currentPlayer, 'torso')">
    <input type="radio" name="defence" (click)="chooseDefence(currentPlayer, 'arms')">
    <input type="radio" name="defence" (click)="chooseDefence(currentPlayer, 'legs')">
  </label>
</div>

<div class="fighter1">
  <div id="head"><img [src]="_fight.fighters[0].armorHead.image"></div>
  <div id="arms"><img [src]="_fight.fighters[0].armorArms.image"></div>
  <div id="torso"><img [src]="_fight.fighters[0].armorTorso.image"></div>
  <div id="legs"><img [src]="_fight.fighters[0].armorLegs.image"></div>
</div>

<button type="button" (click)="changePlayer()">Submit Your Choices</button>
<button type="button" (click)="showFighterHP()">Show HP</button>

<p> Current Fighter ID: {{ currentPlayer }} </p>
<p> Current Fighter HP: {{ currentFighterHP }} </p>

<div><button type="button" (click)="fight()">FIGHT</button></div>