<div class="shop">
  <h1>SHOP</h1>
  <div class="container">
      <p>Choose your Tool</p>
      <div>
          <button mat-button (click)="openDialogFists()">Fists</button>
          <img class="item" src="../../assets/fist.png" alt="sword" (click)="openDialogFists()">
      </div>
      <div>
          <button mat-button (click)="openDialogSword()">Sword</button>
          <img class="item" src="../../assets/sword.png" alt="sword" (click)="openDialogSword()">
      </div>
      <div>
          <button mat-button (click)="openDialogDagger()">Dagger</button>
          <img class="item" src="../../assets/dagger.png" alt="sword" (click)="openDialogDagger()">
      </div>
      <div>
          <button mat-button (click)="openDialogFlail()">Flail</button>
          <img class="item" src="../../assets/flail.png" alt="sword" (click)="openDialogFlail()">
      </div>
  </div>
</div>
  




