<div class="shop">
  <h1>SHOP</h1>
  <div class="container">
      <p>Choose your Tool</p>
      <div>
      <div>
          <button mat-button (click)="openDialogFists()">Fists</button>
          <img class="item" src="../../assets/images/weapons/knuckles.svg" alt="sword" (click)="addweapon()">
      </div>
      <div>
          <button mat-button (click)="openDialogSword()">Sword</button>
          <img class="item" src="../../assets/images/weapons/sword.svg" alt="sword" (click)="openDialogSword()">
      </div>
      <div>
          <button mat-button (click)="openDialogDagger()">Dagger</button>
          <img class="item" src="../../assets/images/weapons/dagger.svg" alt="sword" (click)="openDialogDagger()">
      </div>
      <div>
          <button mat-button (click)="openDialogFlail()">Flail</button>
          <img class="item" src="../../assets/images/weapons/flail.svg" alt="sword" (click)="openDialogFlail()">
      </div>
    </div>
    <div>
      <div>
        <button mat-button (click)="openDialogFists()">Leather Helmet</button>
        <img class="item" src="../../assets/images/body/head.svg" alt="head" (click)="openDialogFists()">
    </div>
    <div>
        <button mat-button (click)="openDialogFists()">Iron Helmet</button>
        <img class="item" src="../../assets/images/body/head.svg" alt="head" (click)="openDialogFists()">
    </div>
    <div>
        <button mat-button (click)="openDialogFists()">Leather Vest</button>
        <img class="item" src="../../assets/images/body/torso.svg" alt="torso" (click)="openDialogFists()">
    </div>
    <div>
        <button mat-button (click)="openDialogFists()">Chainmail Vest</button>
        <img class="item" src="../../assets/images/body/torso.svg" alt="torso" (click)="openDialogFists()">
    </div>
  </div>
</div>
  




