<h1>{{ message }}</h1>
<hr>
<div class="container">

  <div class="onlinePlayers">
    ONLINE PLAYERS: {{ onlinePlayers }}
  </div>
  <div *ngIf="roomPlayers.length === 4" class="rooms" fxLayout="row" fxLayoutAlign="space-evenly center">
    <div class="room1" (click)="toggleRoom(1, userId)">
      <p>Room 1</p>
      <h3>JOIN</h3>
      <p class="joinedPlayers">{{ roomPlayers[0].players.length }} players joined</p>
    </div>
    <div class="room2" (click)="toggleRoom(2, userId)">
      <p>Room 2</p>
      <h3>JOIN</h3>
      <p class="joinedPlayers">{{ roomPlayers[1].players.length }} players joined</p>
    </div>
    <div class="room3" (click)="toggleRoom(3, userId)">
      <p>Room 3</p>
      <h3>JOIN</h3>
      <p class="joinedPlayers">{{ roomPlayers[2].players.length }} players joined</p>
    </div>
    <div class="room3" (click)="toggleRoom(4, userId)">
      <p>Room 4</p>
      <h3>JOIN</h3>
      <p class="joinedPlayers">{{ roomPlayers[3].players.length }} players joined</p>
    </div>
  </div>

</div>
