.map {
  min-width: 1111px;
  position: relative;
  margin-top: 30px;
}

.arena {
  width: 60px;
  cursor: pointer;
}

.fight {
  position: absolute;
  left: 465px;
  top: 266px;
}

.arena-sign {
  display: none;
}

.shop-image {
  width: 50px;
  cursor: pointer;
}

.shop {
  position: absolute;
  left: 1095px;
  top: 692px;
}

.shop-sign {
  display: none;
}

.zoom-in {
    position: absolute;
    right: 35px;
}

.zoom-out {
    position: absolute;
    right: 0;
}
