app-forms-page {
  .container {
    margin-top: 50px;
  }
  .row {
    width: 100%;
  }
  .col {
    flex: 1;
    margin: 100px; 
  }  

  #forms {
    display: flex;
  }
  // .col-2 {
  //   display: inline-block;
  //   margin: auto;
  // }
  // .section-title {
  //   margin-bottom: 20px;
  // }

  .user-details-container {
    padding: 20px;
    text-align: center;

    .user-image {
      width: 20%;
      border-radius: 50%;
    }

    .user-title {
      font-size: 50px;
      font-weight: 500;
      margin-top: 30px;
      display: block;
    }

    .user-bio {
      font-size: 30px;
      margin-top: 20px;
      display: block;
      color: rgba(0, 0, 0, 0.70);
    }
    .user-bio > span {
      width: 200px;
    }
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .error-message {
    font-size: 12px;
  }

  .double-line-hint {
    .mat-input-hint-wrapper {
      flex-wrap: wrap;

      .hint-line {
        flex: 0 0 100%;
      }
    }
  }

  .submit-btn {
    margin-top: 30px;
  }
}
.upl{
  height: 50px;
}
.upl1{
  height: 50px;
}

.file-container{
  width: 250px;
  height: 250px;
  border: 1px solid black;
  background-color: gray;
}
p{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}