nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
}
.logo img{
    height: 200px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.logo img:hover{
    transform: scale(1.1);
}
.container{
    display: flex;
    padding-right: 1rem;
}
.nav-link {
    padding-top: 30px;
    font-size: 1.3rem;
}
.menu-item:hover{
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
}
.menu-item {
    text-decoration: none;
    color: grey;
    padding: 1rem;
    transition: 0.3s ease;
}





